API_HOST="http://localhost:8081"
DB_HOST="localhost"
DB_PORT="5430"
DB_USER=postgres
DB_NAME=chatAVA
DB_PWD=h7SkP3cd
REDIS_HOST=redis
CAS_URL="https://sso.icsc.com.tw/sso"

# CHAT_SERVER_SSO="https://ava.ngrok.dev/chat/user/sso"

AVA_HOST=http://localhost/ava/chat
CHAT_SERVER_SSO= ${AVA_HOST}/user/sso

AVA_BACKEND_URL="http://localhost/ava/backend"
LOG_DELETE_TIME=30

# API_HOST="http://192.168.119.113:8081"
# API_HOST="https://10.0.118.219:5000"
