import { defineConfig } from "vite";
import vue from "@vitejs/plugin-vue";
// import mkcert from "vite-plugin-mkcert";

export default defineConfig({
    // plugins: [vue(), mkcert()],
    plugins: [vue()],
    base: "/back/",
    server: {
        host: "0.0.0.0",
        port: 5002,
        proxy: {
            "/backend": {
                target: "http://127.0.0.1:8081",
                changeOrigin: false,
                secure: false,
                // rewrite: (path) => path.replace(/^\/backend/, ""),
            },
        },
    },
});
